
<!--post modal-->
{% load crispy_forms_tags %}
<form {% if id %} id='{{id}}'{%endif%} class = 'form' method='POST' action="{% if action_url%}"{{ action_url}}"{%endif%}>
    {% csrf_token %}
    <div class="modal-wrapper">
        <div class="modal">
            <div class="modal-header">
                <i class="fas fa-times"></i>
                <button type="submit">Ideate</button>
            </div>
            <div class="modal-body">
                <div class="modal-img">
                    <img src=>
                </div>
                <input type="text" placeholder="Exploring the engineering" class="modal-input">
                <i class="fas fa-smile"></i>
                <div class="modal-footer">
                    <div class="modal-icons">
                        <i class="fas fa-image"></i>
                        <span>+</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<!-- end of post modal-->